{{define "default"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{template "title" .}}</title>
</head>
<body>
{{template "body" .}}
{{template "footer" .}}
</body>
</html>

{{end}}